/*Admin CSS For TECS
Generate by @xyussanx*/

/*admin only*/
h1 .admin-title{margin-bottom:0}
.full-width{min-width: 100%}
.header{}
.content{padding:5px;}
.sidebar{}
.sidebar>.right{}
.sidebar>.left{}
.base-content{padding:0;}
.white-content{background-color:#fff;border-right:1px solid #e4e4e4;border-left:1px solid #e4e4e4;padding:10px 0;}
#tambahbarang{padding:10px;background-color:#f7f7f7;margin-top:10px}
/*footer*/
#basefooter{
	padding:10px;
	background-color: #000;
	color:gray;
}